@model Business.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}

<form method="POST" action="/Account/ResetPassword" name="form" ng-controller="resetPasswordController">
    @Html.AntiForgeryToken()
    <div>
        <div class="content-container">
            <div class="content-header">
                <h1 style="color: white;">Success</h1>
            </div>
            <div class="content-body">
                <md-content class="md-no-momentum" layout-margin>
                    <md-input-container class="md-block">
                        <label>Email</label>
                        <input name="Email" type="email" ng-model="email" ng-required="true" />
                        @Html.Partial("_AngularMessages", "form.Email")
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>New Password</label>
                        <input name="Password" type="password" ng-model="password" match="confirmPassword" ng-required="true" />
                        @Html.Partial("_AngularMessages", "form.Password")
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Confirm password</label>
                        <input name="ConfirmPassword" type="password" ng-model="confirmPassword" match="password" ng-required="true" />
                        @Html.Partial("_AngularMessages", "form.ConfirmPassword")
                    </md-input-container>
                    @Html.HiddenFor(x => x.Code)
                    <md-input-container class="md-block">
                        <md-button ng-click="submit(form)" ng-disabled="!form.$valid" class="action-button button md-primary">Reset password</md-button>
                    </md-input-container>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </md-content>
            </div>
        </div>
    </div>
</form>

