@using Business.Helpers
@model Business.Models.BusinessInfoViewModel
@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="Main" ng-controller="manageAccountController">
    <div class="ContentContainer ManageContentContainer">
        <div class="ContentHeader">
            <h1 style="color: white;">Business Info</h1>
        </div>
        <div class="ContentBody">
            <md-content class="md-no-momentum" layout-margin>
                <div layout="row" class="business-info-container">
                    <div flex="20">
                        <div layout="column">
                            <div flex>Name:</div>
                            <div flex>Phone:</div>
                            <div flex>Website:</div>
                            <div flex>Address:</div>
                        </div>
                    </div>
                    <div flex="80">
                        <div layout="column">
                            <div flex>{{model.BusinessName}}</div>
                            <div flex>{{model.FormattedPhoneNumber}}</div>
                            <div flex>{{model.WebsiteUrl}}</div>
                            <div flex>{{model.FormattedAddress}}</div>
                        </div>
                    </div>
                </div>
                <md-input-container class="md-block">
                    <md-button ng-click="updateInfoFromGoogle()" class="ManageActionButton Button md-primary">Update Info from Google</md-button>
                </md-input-container>
            </md-content>
        </div>
    </div>

    <div class="ContentContainer ManageContentContainer">
        <div class="ContentHeader">
            <h1 style="color: white;">Menu</h1>
        </div>
        <div class="ContentBody">
            <md-content class="md-no-momentum" layout-margin>
                <form  action="/Manage/SaveMenu" method="post" name="menuForm" enctype="multipart/form-data">
                    <md-input-container class="md-block" layout-align="center center">
                        <label>Menu URL</label>
                        <input type="text" ng-change="menuUrlChange()" ng-model="menu.url" Name="menuUrl" ng-required="menu.fileName == null"/>
                        @Html.Partial("_AngularMessages", "form.MenuUrl")
                    </md-input-container>
                    <h3>- OR -</h3>
                        <input id="fileInput" accept=".pdf" type="file" name="file" ng-hide="true">
                        <md-input-container class="md-block" layout-align="center center">
                            <label>Upload PDF</label>
                            <input type="text" ng-model="menu.fileName" disabled>
                            <md-button id="uploadButton" ng-click="selectFile()" class="attach-file-button md-fab md-mini">
                                <i class="material-icons">attach_file</i>
                            </md-button>
                        </md-input-container>
                    <md-input-container class="md-block">
                        <md-button type="submit" class="ManageActionButton Button md-primary">Save Menu</md-button>
                    </md-input-container>
                </form>
            </md-content>
        </div>
    </div>
                
    <div class="ContentContainer ManageContentContainer">
        <div class="ContentHeader">
            <h1 style="color: white;">Change Password</h1>
        </div>
        <div class="ContentBody">
            <form action="/Manage/ChangePassword" method="post" name="changePasswordForm">
                <md-content class="md-no-momentum" layout-margin>
                    <md-input-container class="md-block" layout-align="center center">
                        <label>Old password</label>
                        <input type="password" ng-model="changePasswordModel.OldPassword" Name="OldPassword" ng-required="true" ng-minlength="4" ng-maxlength="20"/>
                        @Html.Partial("_AngularMessages", "form.OldPassword")
                    </md-input-container>
                    <md-input-container class="md-block" layout-align="center center">
                        <label>New password</label>
                        <input type="password" ng-model="changePasswordModel.NewPassword" ng-model-options="{allowInvalid: true}" match="changePasswordModel.ConfirmPassword" Name="NewPassword" ng-required="true" ng-minlength="4" ng-maxlength="20"/>
                        @Html.Partial("_AngularMessages", "form.NewPassword")
                    </md-input-container> 
                    <md-input-container class="md-block" layout-align="center center">
                        <label>Confirm password</label>
                        <input type="password" ng-model="changePasswordModel.ConfirmPassword" ng-model-options="{allowInvalid: true}" match="changePasswordModel.NewPassword" Name="ConfirmPassword" ng-required="true" ng-minlength="4" ng-maxlength="20"/>
                        @Html.Partial("_AngularMessages", "form.ConfirmPassword")
                    </md-input-container>
                    <md-input-container class="md-block">
                        <md-button ng-disabled="!changePasswordForm.$valid" ng-click="changePassword()" class="ManageActionButton Button md-primary">Change Password</md-button>
                    </md-input-container>
                </md-content>
            </form>
        </div>
    </div>

    <script type="text/javascript">
        @{
            var data = new
            {
                Model
            };
        }

        window.simplecoupons.state['index.model'] = '@Html.Raw(data.ToJson())';
    </script>
</div>
